{% extends 'base.html' %}

{% block content %}
    {% if user.is_superuser %}

    <h1 style="color: #000;background-color: #94C9E9"> Hola {{ user.username }}</h1>
    <h3>Pregunta que mas veces fue correctamente contestada: {{ question }}</h3>
    <h3>Nivel al que se accedio mayor numero de veces: {{ max_level }}</h3>
    <h3>Total de usuarios participantes: {{ total_usr }}</h3>
    {% else %}
        <div class="row" style="background-color: darkred;" align="center">
                <h2 style="color: white;font-size: xxx-large">¡ATENCION!</h2>
                <h2 style="color: white"> No se puede mostrar esta información confindecial porque no es administrador.</h2>
        </div>
  {% endif %}

{% endblock %}