<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaqueñometro</title>
    <link rel="stylesheet" href="{% static 'css/styleInicio.css' %}">
    <link rel="icon" href="{% static 'css/Carpi2.png' %}">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="#" class="active"> <img src="{% static 'css/Carpi2.png' %}" class="caprincho"/>Inicio</a>
            <a href="/tablero/" class="">Ranking</a>
            <a href="#" class="">Nosotros</a>
            <a href="#" class="">Logout</a>
            <a href="{% url 'login' %}" class="">Login</a>
        </nav>
    </header>
    <div class="grid_container">
        <div class="grid_item"><img src="{% static 'css/Carpi1.jpg' %}" /></div>
        <h1 class="grid_item">CHAQUEÑOMETRO</h1>
        <h2 class="grid_item">Conoce tu provincia jugando!!</h2>
        <div class="boton grid_item">
            <a href="{% url 'login' %}">
                <button class="btn-success">
                    Iniciar Sesión
                </button>
            </a>
            <a href="{% url 'registro' %}">
                <button class="btn-success">
                    Registrarse
                </button>
            </a>
        </div>
    </div>
</body>
</html>