<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Chaco</title>
    <link rel="stylesheet" href="{% static 'css/styleInicio.css' %}">
    <link rel="shortcut icon" href="{% static 'css/logo.jpg' %}">
</head>
<body>
    <img src="{% static 'css/Carpi2.png' %}" width="340" height="200"/>
    <section id="start-page">
		<h1>CHAQUEÑOMETRO</h1>
		<h2>Conoce tu provincia jugando!!</h2>
        <a href="{% url 'login' %}">
            <button class="btn-success">
                Iniciar Sesión
            </button>
        </a>
        <a href="{% url 'registro' %}">
            <button class="btn-success">
                Registrarse
            </button>
        </a>
		<!-- <button>Iniciar Sesión</button>
		<button>Registrarse</button> -->
	</section>
</body>
</html>