<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaqueñometro</title>
    <link rel="stylesheet" href="{% static 'css/styleNiveles.css' %}">
    <link rel="icon" href="{% static 'css/Carpi2.png' %}">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="#" class="active"> <img src="{% static 'css/Carpi2.png' %}" class="caprincho"/>Inicio</a>
            <a href="#" class="user">Hola {{user}} !!!</a>
            <a href="#" class="direcciones">Ranking</a>
            <a href="#" class="direcciones">Nosotros</a>
            <a href="#" class="direcciones">Logout</a>
            <a href="{% url 'login' %}" class="direcciones">Login</a>
        </nav>
    </header>
    <div class="main">
        <section>
            <h2>Menú Principal</h2>
            <a href="{% url 'reglasJuego' %}">
                <button class="btn-success">
                    Reglas del Juego
                </button>
            </a>
            <a href="/jugar/?nivel=FACIL">
                <button class="btn-success">
                    Nivel Fácil
                </button>
            </a>
            <a href="/jugar/?nivel=MEDIO">
                <button class="btn-success">
                    Nivel Medio
                </button>
            </a>
            <a href="/jugar/?nivel=DIFICIL">
                <button class="btn-success">
                    Nivel Díficil
                </button>
            </a>
            <!-- <button href="#">Nivel Fácil</button> -->
        </section>
        <img src= "{% static 'css/Carpi1.jpg' %}" width="200" height="200"/>
    </div>
</body>
</html>