<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaqueñometro</title>
    <link rel="stylesheet" href="{% static 'css/styleJugar.css' %}">
    <link rel="icon" href="{% static 'css/Carpi2.png' %}">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="/logout_vista/" class="active"> <img src="{% static 'css/Carpi2.png' %}" class="caprincho"/>Inicio</a>
            <a href="#" class="user">Hola {{user}} !!!</a>
            <a href="/tablero/" class="">Ranking</a>
            <a href="/logout_vista/" class="">Cerrar Sesion</a>
        </nav>
      </header>  
{% block contenido %}
<div id="wrapper">
    <h1>
        {{pregunta.categoria}}
    </h1>
    <!--El método safe tiene que ver con texto y descripción-->
    <h2 class="text-info">{{respondida.pregunta.texto|safe}}</h2>
    <!--Muestra la pregunta que se ah respondido-->
    <p>
        <strong>Tu respuesta:</strong>
        {{respondida.respuesta.texto|safe}}
    </p>
    {% if respondida.respuesta.correcta %}
        <h4 class="text-success">Tu respuesta es correcta!!</h4>
    {% else %}
        <h4 class="text-danger">Tu respuesta es incorrecta</h4>
    {% endif %} 
    <a href='/jugar/?nivel={{nivel}}'>
        <button id="start" class="btn-success">
            Continuar
        </button>
    </a>
</div>
{% endblock %}
</body>
</html>