<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaqueñometro</title>
    <link rel="stylesheet" href="{% static 'css/styleTablero.css' %}">
    <link rel="icon" href="{% static 'css/Carpi2.png' %}">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="/logout_vista/" class="active"> <img src="{% static 'css/Carpi2.png' %}" class="caprincho"/>Inicio</a>
            <a href="#" class="user">Hola {{user}} !!!</a>
            <a href="/tablero/" class="">Ranking</a>
            <a href="/logout_vista/" class="">Cerrar Sesion</a>
        </nav>
      </header>  
    <h1>
        <span class="info">
            Los {{contar_user}} mejores jugadores
        </span>
    </h1>
{% block contenido %}
<div id="main-container">
    <table>
        <thead>
            <tr>
                <th>Posicion</th>
                <th>Usuario</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for user_quiz in usuario_quiz %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{user_quiz.usuario.username}}</th>
                    <th>{{user_quiz.puntaje_total}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="botones_finales">
        <a href="/niveles/">
            <button id="start" class="btn-success">
                Volver a Jugar
            </button>
        </a>
    </div>
    <img src="{% static 'css/Carpi3.jpg' %}" width="340" height="200"/>
</div>
{% endblock %}
</body>
</html>