<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero</title>
    <link rel="stylesheet" href="{% static 'css/styleTablero.css' %}">
</head>
<body>
    <h1>
        <span class="info">
            Los {{contar_user}} mejores jugadores
        </span>
    </h1>
{% block contenido %}
<div id="main-container">
    <table>
        <thead>
            <tr>
                <th>Posicion</th>
                <th>Usuario</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for user_quiz in usuario_quiz %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{user_quiz.usuario.username}}</th>
                    <th>{{user_quiz.puntaje_total}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <img src="{% static 'css/Carpi3.jpg' %}" width="340" height="200"/>

        <!-- compartir-->
    <a title="Compartir en Facebook" id="facebook-share-button-linuxito.com">Compartir en Facebook</a>
        <script>
        var facebookShareButton = document.getElementById('facebook-share-button-linuxito.com');
        var facebookShareButtonHref='http://www.facebook.com/sharer/sharer.php?';
        facebookShareButtonHref += 'u='+document.URL;
        facebookShareButtonHref += '&title='+document.title;
        facebookShareButton.href = facebookShareButtonHref;
        </script>
    <a title="Twittear" id="twitter-share-button-linuxito.com">Twittear</a>
        <script>
        var twitterShareButton = document.getElementById('twitter-share-button-linuxito.com');
        var twitterShareButtonHref='https://twitter.com/share?';
        twitterShareButtonHref += 'url='+document.URL;
        twitterShareButtonHref += '&via=linuxitux';
        twitterShareButtonHref += '&text='+document.title;
        twitterShareButton.href = twitterShareButtonHref;
    </script>
    <!-- compartir-->

</div>
{% endblock %}
</body>
</html>