body, html { 
    font-size: 100%; 	
    padding: 0; 
    margin: 0; 
    background: #94C9E9;
}

h1{
    color: #000;
    font-family: 'Staatliches', cursive;
}

.img{
	padding-right: 0%;
	padding-top: 1%;
}

.main > section h2 {
    font-family: 'Staatliches', cursive;
	font-size: xx-large;
	color: #000;
}

.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

.main > section button {
	border: none;
	background: #1DB062;
	color: #000;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 10px 0;
	font-size: 1rem;
    font-family: 'Staatliches', cursive;
}

.main > section button:hover {
	background: #FDC049;
}

.main > section button.active {
	background: #FDC049;
}

.main > section button.disabled {
	background: #FDC049;
	pointer-events: none;
}