@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
	margin:0;
    margin-top:0;
}
.menu{  
    background-color: #906c54;
    overflow: hidden;  
    padding: 0px;
    position: sticky;
}
.menu a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    box-sizing: border-box;
    font-weight:1000;
}  
.direcciones:hover{
    background-color:#fffeff;
    color: #906c54;
	cursor: pointer;
}
.menu a.active{
    float: left;
    background-color: #fffeff;
    color: #ad6648;
    padding: 20px 50px;
    position: relative;
    left: 15px;
    font-weight:1000
}   
.menu a.user{
    float: left;
    color: #fffeff;
    padding: 20px 50px;
    position: relative;
    left: 15px;
    font-weight:1000;
    margin:0 10px
}   

.caprincho {
    width: 70px;
    float: inherit;
    position: absolute;
    top: 10px;
    left: -10px ;
}
body {
	background-image: url("https://www.wowpatterns.com/assets/files/resource_images/cotton-flowers-pattern.jpg");	
	background-color: rgb(77, 224, 101);
	text-align: center;
	padding-top: 0pc;
}

.main{
	display:grid;
	max-width: 50%;
	margin:auto;
	border-radius: 9%;
	border: #767676 solid 2px;
	background-color: #fffeff;
	grid-template-rows: 1fr ;
	grid-template-columns: 1fr 1fr ;
	object-fit:contain;
	margin-top: 2em;
}

.main img{
	padding-right: 0%;
	padding-top: 1%;
	margin:auto
}

.main > section h2 {
    font-family: 'Staatliches', cursive;
	font-size: xx-large;
	color: #000;
}

.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

.main > section button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	background: #c4b399;
	width: -webkit-fill-available;
	border: 0;
	padding: 15px;
	color: #f2f2f2;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	display:block;
	margin: 10px;
	text-decoration:none
}
a{
	text-decoration:none
}

.main > section button:hover {
	background: #fffffd;
	color:#906c54
}

.main > section button.active {
	background: #FDC049;
}

.main > section button.disabled {
	background: #FDC049;
	pointer-events: none;
}