*{
	margin:0;
    margin-top:0;
}
.menu{  
    background-color: #906c54;
    overflow: hidden;  
    padding: 0px;
    position: sticky;
}
.menu a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    box-sizing: border-box;
    font-weight:1000;
}  
.menu a:hover{
    background-color:#fffeff;
    color: #906c54;
	cursor: pointer;
}
.menu a.active{
    float: left;
    background-color: #fffeff;
    color: #ad6648;
    padding: 20px 50px;
    position: relative;
    left: 15px;
    font-weight:1000
}   

.caprincho {
    width: 70px;
    float: inherit;
    position: absolute;
    top: 0px;
    left: -10px ;
}
body {
	background-image: url("https://www.wowpatterns.com/assets/files/resource_images/cotton-flowers-pattern.jpg");	
	background-color: rgb(77, 224, 101);
	text-align: center;
	padding-top: 0pc;
}

.h1{
	padding: 2%;
	text-align: center;
	font-family: 'Staatliches', cursive;
	color: #000;
}

.span.info {
	font-family: 'Staatliches', cursive;
	color: #000;
}

body {
	background-color: #1DB062;
}

img{
	padding-left: 93%;
	padding-top: 0%;
}

#main-container {
	margin: 5px auto;
	width: 600px;
}

table {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	font-family: 'Staatliches', cursive;
}

th, td {
	padding: 20px;
}

thead {
	background-color: #FDC049;
	border-bottom: solid 5px #000;
	color: #000;
	font-family: 'Staatliches', cursive;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgb(114, 250, 143);
	color: white;
}