<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="{% static 'css/styleHome.css' %}">
</head>
<body>
    <h1>
        Bienvenida {{user}}
    </h1>
    <div class="main">
        <section>
            <h2>Menú Principal</h2>
            <!-- Class "cbp-spmenu-open" gets applied to menu -->
            <button href="#">Reglas del Juego</button>
            <button href="#">Nivel Fácil</button>
            <button href="#">Nivel Medio</button>
            <button href="#">Nivel Díficil</button>
        </section>
    </div>
</body>
</html>