<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/styleRegistro.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="login-page">
            <h1>Comience a jugar!!!</h1>
            <div class="form">
              <form class="login-page">
                {{form.as_p}}
                <button type="submit">
                    Enviar
                </button>
              </form>
          </div>
        </div>
    </form>
</body>
</html>

